<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Google Closure Compiler</string>
	<key>ordering</key>
	<array>
		<string>F79405F3-D296-424F-8EE4-079D11F9BB6D</string>
		<string>3A96669A-F747-46DD-ABD2-FF0E6CC80F0D</string>
		<string>E06C1DDC-3511-4543-8E4E-1AF11CA6EB3C</string>
	</array>
	<key>uuid</key>
	<string>55B3EF20-A944-47BA-AB6B-C94E9B5D6DF3</string>
</dict>
</plist>
